/* Application styles */

ol, ul {
	list-style: none;
}

.box, .movie-details-box {
	border: solid 1px #666666;
	padding: 15px;
	margin: 15px;
}

.box .thumb_img {
	display: block;
	margin: 10px auto;
}

.movie-details-box .heading {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 5px 
}

.movie-details-box .genre {
	font-size: 1.2em;
	margin-bottom: 15px 
}

.movie-details-box .desc {
	text-align: justify;
}



