<div class="row movie-details-box">
	<div class="col-md-3"> 
		<img src="/assets/images/{{model.icon}}" width=200 />
	</div>
	<div class="col-md-9"> 
		<div class="heading"> {{model.title}} </div>
		<div class="genre"> {{model.genre}} </div>
		<div class="desc"> {{model.description}} </div>
	</div>
</div>
